---
import Layout from "../layouts/Layout.astro";
import GitHubIcon from "../icons/GitHub.astro";
import SocialPill from "../components/SocialPill.astro";
import CVIcon from "../icons/CV.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../icons/Briefcase.astro";
import CodeIcon from "../icons/Code.astro";
import Projects from "../components/Projects.astro";
import LinkedinIcon from "../icons/Linkedin.astro";
import Image from "astro/components/Image.astro";
import Habilidades from "../components/Habilidades.astro";
import HabilidadesIcon from "../icons/Habilidades.astro";

---

<style>
.montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;   
  font-style: normal;
}
</style>

<Layout
  title="Porfolio"
  description="Contrata a christian para desarrollar codigo."
>
  <main>
    <SectionContainer id="inicio" type="inicio">
      <header
        class="px-8 md:px-16 2xl:px-60 flex flex-col lg:flex-row justify-between gap-4 lg:gap-10 items-center text-2xl pt-2"
      >
        <div class="flex flex-col gap-3 montserrat-400">
          <h1
            class="text-yellow-200 text-4xl 2xl:text-5xl font-bold flex flex-row gap-x-4 pb-3 md:pb-5 2xl:pb-10 "
          >
            Hey, soy Christian 

          </h1>

          <h2 class="text-2xl 2xl:text-3xl text-wrap max-w-[700px]">
            <span class="text-blue-200/90 opacity-100">
              Desarrolador Backed-End</span
            >
          </h2>
          <p class="text-gray-200 lg:text-pretty text-xl 2xl:max-w-[55%] md:max-w-[55%] w-full">
            Ingeniero en Computadores y actualmente estudiante en la Universidad
            de Alcalá
          </p>

          <p class="text-gray-200 2xl:text-pretty text-xl 2xl:max-w-[55%] md:max-w-[55%] w-full">
            Estoy buscando nuevas oportunidades para crecer profesionalmente y
            contribuir a proyectos interesantes.
          </p>

          <nav class="flex gap-4 mt-8 flex-wrap text-gray-200">
            <SocialPill
              href="https://github.com/ChristianNoguerales"
            >
              <GitHubIcon class="size-4 md:size-4 2xl:size-6 " />
              GitHub
            </SocialPill>

            <SocialPill
              href="https://www.linkedin.com/in/christian-noguerales-alburquerque-6445781b5/"
            >
              <LinkedinIcon class="size-4 md:size-4 2xl:size-6" />
              LinkedIn
            </SocialPill>

            <SocialPill href="/CV.pdf" target="_blank" rel="noopener noreferrer">
              <CVIcon class="size-4 md:size-4 2xl:size-6" />
              CV
            </SocialPill>
          </nav>
        </div>

        <div
          class=" flex justify-center items-center lg:mt-o mt-5"
        >
          <Image
            src="/CV.jpeg"
            alt="Imagen perfil"
            width={260}
            height={260}
            class="rounded-full 2xl:w-125 md:w-100 w-45 2xl:h-125 md:h-100 h-45 object-cover shadow-md border-2 border-black"
            loading="eager"
          />
        </div>
      </header>
    </SectionContainer>

    <SectionContainer id="experiencia" type="experiencia">
      <h2 class="text-gray-200 text-3xl font-bold mb-6 flex gap-x-3 items-center px-8 md:px-16 2xl:px-60 montserrat-400">
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos" type="proyectos">
      <h2 class="text-gray-200 text-3xl font-bold mb-6 flex gap-x-3 items-center px-8 md:px-16 2xl:px-60 montserrat-400">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="habilidades" type="habilidades">
      <h2 class="text-gray-200 text-3xl font-bold mb-6 flex gap-x-3 items-center px-8 md:px-16 2xl:px-60 montserrat-400">
        <HabilidadesIcon class="size-7" />
        Habilidades
      </h2>
      <Habilidades />
    </SectionContainer>

    <footer>

    </footer>
  </main>
</Layout>
