---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    title: "",
    company: "",
    location: "",
    date: " ",
    description:
      " Soy un desarrollador back-end en formación con una base sólida adquirida a través de proyectos académicos y personales, enfocados principalmente en la programación con C++, Python y Java. He trabajado en el desarrollo de sistemas y aplicaciones donde he aplicado estructuras de datos, lógica de programación y conceptos fundamentales de la arquitectura del software. Además, tengo experiencia utilizando PostgreSQL para la gestión de bases de datos relacionales y consultas eficientes. Me apasiona el desarrollo del lado del servidor, la optimización del rendimiento y la creación de soluciones funcionales y escalables. He participado activamente en proyectos universitarios donde he aprendido a trabajar de forma organizada, a colaborar en equipo y a cumplir objetivos técnicos en plazos definidos. De forma autodidacta, he comenzado a explorar tecnologías web como Tailwind CSS y Astro, lo que me permitió diseñar un pequeño portafolio personal para mostrar mis proyectos. Aunque estoy dando mis primeros pasos en este entorno, me interesa seguir ampliando mis conocimientos en herramientas modernas de back-end. Acabo de finalizar mis prácticas profesionales en el Área de Seguridad del Software Aeronáutico, donde tuve la oportunidad de trabajar en proyectos reales. Durante este tiempo participé en el estudio de amenazas y vulnerabilidades que afectaban al software de aviones y drones, analizar posibles ataques, como podrían afectar a sistemas importantes del avión y que

medidas de protección se pueden aplicar e investigar como se puede usar la inteligencia artificial para detectar ataques de drones. Además, colaboré de cerca con un equipo de desarrollo bajo metodologías ágiles, lo que me permitió adquirir experiencia práctica y fortalecer mis habilidades técnicas.",
  },
];
---

<ol
  class="border-s border-gray-200 flex flex-col lg:flex-row px-8 md:px-16 2xl:px-60 gap-4 lg:gap-10"
>
  {
    EXPERIENCE.map((experience) => (
      <li class=" ms-4 mr-10 md:mr-0">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
