---
const { title, date, description } = Astro.props;
---
<style>
    .montserrat-400 {
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;   
      font-style: normal;
    }
    </style>
    
<div class="relative flex items-start montserrat-400">
    <div
        class="absolute size-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>

    <div class="pl-6">
        <h3 class="text-2xl font-bold mb-2
        ">{title}</h3>

        <time class="mb-2 text-lg font-semibold text-blue-200/90"
            >{date}</time
        >

        <p class="mb-4 text-lg font-normal">
            {description}
        </p>
    </div>
</div>
