<header
    class=" shadow-sm backdrop-blur-lg sticky top-0 flex justify-between items-center py-2 w-full px-60 bg-[rgba(31,41,55,0.5)] "
>
    <div class="flex items-center">
        <div class="text-6xl font-bold text-yellow-400 mr-2">C</div>

        <div class="flex flex-col items-start">
            <div class="font-semibold text-gray-700 uppercase">NOGUERALES</div>

            <div class="font-medium text-gray-400 uppercase">BACK-END</div>
        </div>
    </div>

    <nav class="flex flex-row gap-x-10 opacity-80 ">
        <a href="#top" class="hover:underline">Inicio </a>
        <a href="#experiencia" class="hover:underline">Experiencia</a>
        <a href="#proyectos" class="hover:underline">Proyectos</a>
        <a href="#habilidades" class="hover:underline">Habilidades</a>
    </nav>
</header>
