<style>
    .montserrat-400 {
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;   
      font-style: normal;
    }
    </style>
<header
    class="text-gray-200 montserrat-400 shadow-sm backdrop-blur-lg sticky top-0 flex justify-between items-center py-2 w-full bg-[rgba(31,41,55,0.5)] z-10 "
>
    <div class="flex items-center lg:px-60 md:px-16">
        <div class="text-3xl lg:text-6xl font-bold text-green-300 lg:mr-2 mr-1">C</div>

        <div class="flex flex-col items-start lg:text-base text-xs">
            <div class="font-semibold text-white uppercase">NOGUERALES</div>

            <div class="font-medium text-gray-300 uppercase">BACK-END</div>
        </div>
    </div>

    <nav class="flex flex-row gap-x-2 lg:gap-x-10 md:gap-x-5 opacity-80 lg:text-base text-xs lg:px-60 md:px-16">
        <a href="#top" class="hover:underline">Inicio </a>
        <a href="#experiencia" class="hover:underline">Experiencia</a>
        <a href="#proyectos" class="hover:underline">Proyectos</a>
        <a href="#habilidades" class="hover:underline">Habilidades</a>
    </nav>
</header>
